@using SFSportsStore.Domain.Entities
@model SFSportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var prod in Model.Products)
{
    <div>
        <h3>@prod.Name</h3>
        <p>@prod.Description</p>
        <h3>@prod.Price.ToString("c")</h3>
    </div>
}

<div>@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))</div>