@using SFSportsStore.Domain.Entities
@model SFSportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (Product prod in Model.Products)
{
    @Html.Partial("ProductSummary", prod);
}
<div class="pull-right btn-group">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, currentCategory = Model.CurrentCategory }))
</div>